{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
      <section>
        <p>Click here to see the barplot of the circumférence <a href="/barplot"> Cir_Barplot</a> <br />
        <p>Click here to see the number of each tree <a href="/number"> Number_tree</a> <br />
        <p>Click here to see the Condition of each tree <a href="/cond"> Condition_tree</a> <br />
        <p>Click here to see the City <a href="/city"> City</a> <br />
        <p>Click here to see the Cartograpgy of the trees <a href="/carto"> Cartography</a> <br />
      </section>
  {% endif %}
{% endblock %}

{% block content %}
  <a class = "action" href="/create">Create a new post</a>
  <h1>Posts features</h1>
  {% for post in posts %}
    <article class="post">
          <header>
              <div>
          <h1>{{ post[3] }}</h1>
          <div class = "about">by {{ post[0] }} on {{ post[2].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user[1] == post[0] %}
        <a class = "action" href="{{ url_for('update', id=post[1]) }}">Edit</a>
        {% endif %}
      </header>
      <p class = "body">{{ post[4] }}</p>
    {% if not loop.last %}
    </article>
        {% if not loop.last %}
      <hr>
    {% endif %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}